* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: red;
}

main {
    background-image: url('../img/1.jpg');
    background-size: 100% 100%;
}

a {
    position: relative, fixed;
    
}

.name-title {
    position: relative, fixed;
    
}